* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Paytone One', sans-serif;
}

body {
    overflow: hidden;
}



/* .page-header {

} */

.frame-holder {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.image-holder {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url("../images/find-waldo.png");
    background-repeat: no-repeat;
    background-size: 100vw, auto;
}

/* ================================================================= */
/* background blur */
/* ================================================================= */

.image-blur {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.increase-blur {
    animation: more-blur 500ms ease-in;
    backdrop-filter: blur(15px);
}

.decrease-blur {
    animation: less-blur 500ms ease-in;
    backdrop-filter: blur(5px);
}

@keyframes more-blur {
    0% {
        backdrop-filter: blur(5px);
    }

    100% {
        backdrop-filter: blur(15px);
    }
}

@keyframes less-blur {
    from {
        backdrop-filter: blur(15px);
    }

    to {
        backdrop-filter: blur(5px);
    }
}

/* ================================================================= */
/* glasses: button parts */
/* ================================================================= */

.btn-array {
    width: 150px;
    height: 150px;
    left: 150px;
    top: 0;
    border-radius: 50%;
    position: absolute;
    transition: transform 1500ms;
}

.lens-btn {
    width: 25px;
    height: 25px;
    background-image: linear-gradient(rgb(55, 3, 71), rgba(26, 33, 236, 0.628));
    border-radius: 50%;
    position: absolute;
    color: white;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    vertical-align: bottom;
}

.btn-found-you {
    transform: rotate(360deg);
    cursor: pointer;
}

.btn-drag-lens {
    transform: rotate(380deg);
    cursor: grab;
}

#found-you {
    right: -15px;
    top: -15px;
}

#drag-lens {
    transform: rotate(25deg);
    right: -15px;
    top: -15px;
    z-index: 3;
}

/* ================================================================= */
/* glasses: lens parts */
/* ================================================================= */

.lens-holder {
    width: 300px;
    height: 150px;
    left: calc(50% - 150px);
    top: 10%;
    position: absolute;
    display: none;
}

.lens {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid black;
    position: relative;
    overflow: hidden;
    user-select: none;
}

i {
    user-select: none;
}

.lens-left img {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0;
    top: 0;
}

.lens-right img {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0;
    top: 0;
}

.bottom-right {
    position: absolute;
    right: -25px;
    bottom: 75px;
    width: 35px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
}

.bottom-left {
    position: absolute;
    left: -25px;
    bottom: 75px;
    width: 35px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
}

.lens-support {
    position: absolute;
    left: 120px;
    top: -2px;
    width: 60px;
    height: 60px;
    border: 10px solid black;
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    border-left-color: transparent;
    /* Rotate the circle */
    transform: rotate(-45deg);
}

.pulse {
    animation: pulse-animation 1.5s ease-out;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    50% {
        box-shadow: 0 0 0 80px #06a0d485;
    }

    100% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

}

/* ================================================================= */

.container {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ================================================================= */
/* timer parts */
/* ================================================================= */

.counter-clock {
    position: relative;
    display: flex;
    width: auto;
    height: 75%;
    top: 0;
    flex-direction: column;
    /* left: calc(50vw - 300px); */
    /* top: 300px; */
    user-select: none;
    align-items: center;
    justify-content: center;
}

#timer {
    font-size: 150px;
    position: relative;
    display: flex;
    width: 100%;
    /* color: rgb(55, 3, 71); */
    align-items: center;
    justify-content: center;
}

#controls {
    position: relative;
    display: flex;
    height: auto;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#controls button {
    position: relative;
    background-color: #fdeb6e;
    color: #0d87af;
    text-shadow: .5px .5px 1px #073645;
    border: 2px solid #06a0d4;
    display: flex;
    font-size: 25px;
    line-height: 25px;
    height: 35px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
}

#controls button:hover {
    background-color: #06a0d4;
    color: white;
}

#minutes,
#miliseconds {
    color: #06a0d4;
    text-shadow: 1px 2px 3px #073645;
    min-width: 250px;
    width: 250px;
}

#seconds {
    color: #dc412d;
    text-shadow: 1px 2px 3px #3a0b05;
    width: 250px;
    min-width: 250px;
}

/* ================================================================= */
/* logo and page title */
/* ================================================================= */

.main-title-holder {
    position: relative;
    display: flex;
    width: 25%;
    height: 25%;
    bottom: 0;
    top: 25%;
}

/* ============================= */
/* puppy parts */
/* ============================= */

.puppy-image-holder {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    user-select: none;
}

#puppy-image {
    width: auto;
    height: 150px;
    user-select: none;
}

.eye,
.pupil {
    position: absolute;
    border-radius: 50%;
}

.eye {
    background-color: white;
    /* border : 1px solid black; */
    left: 50px;
    top: 50px;
    width: 15px;
    height: 15px;
}

.pupil {
    background-color: black;
    left: 4.25px;
    top: 8.25px;
    width: 5px;
    height: 5px;
}

/* TODO: make more dynamic and responsive */
#pup-left {
    left: 11px;
    top: 38px;
}

#pup-right {
    left: 33px;
    top: 34px;
}

/* ============================= */
/* page title */
/* ============================= */

.title-holder {
    position: relative;
    display: flex;
    width: 50%;
    height: auto;
    /* left: calc(50vw - 300px); */
    user-select: none;
    align-items: center;
    justify-content: center;
}

.title-row-one,
.title-row-two {
    height: 150px;
    width: 150px;
    margin: 0;
    user-select: none;
    justify-content: center;
    position: absolute;
    display: flex;
    font-size: 3em;
    line-height: 3em;
    text-align: justify;
}

.title-row-one {
    top: 0;
    left: 75px;
    color: #06a0d4;
    text-shadow: 1px 2px 3px #073645;
}

.title-row-two {
    top: 50px;
    left: 75px;
    color: #dc412d;
    text-shadow: 1px 2px 3px #3a0b05;
    font-size: 3.25em;
}

/* ================================================================= */
/* modal */
/* ================================================================= */

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefefb;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    height: 50%;
    width: 60%;
    color: #06a0d4;
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.close {
    color: #06a0d4;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ================================================================= */
/* selector screen */
/* ================================================================= */

.selector {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 5px dashed red
}

.btn-holder {
    position: absolute;
    width: 75px;
    height: 75px;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    transition: transform 1500ms;
}

#waldo-here {
    right: -15px;
    top: -15px;
}

#drag-selector {
    transform: rotate(35deg);
    right: -15px;
    top: -15px;
    z-index: 3;
}

.btn-waldo-selector {
    transform: rotate(360deg);
    cursor: pointer;
}

.btn-drag-holder {
    transform: rotate(415deg);
    cursor: grab;
}

.left-arrow,
.right-arrow {
    position: absolute;
}

.left-arrow {
    top: 25px;
    left: 25px;
}

.right-arrow {
    top: 25px;
    right: 25px;
}

.tool {
    align-items: center;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(rgb(166, 12, 237), rgba(47, 238, 255, 0.822));
}